<div class="bg-primary-gradient">
    <div class="container py-5">
        <div>
            <div class="row">
                <div class="col-12">
                    <form asp-controller="Product" asp-action="Index" method="get">
                        <div class="input-group">
                            <input class="form-control" type="text" inputmode="search" placeholder="Search Products" name="searchString" />
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
