<div class="sidebar col-12 p-3 bg-light shadow rounded">
    <h2 class="text-center mb-3">Categories</h2>
    <hr>
    <ul class="list-group">
        @foreach (var category in Model)
        {
            <li class="list-group-item list-group-item-action">
                <a class="text-decoration-none text-dark d-block text-center" 
                   href="/categories/@category.Name.Replace(" ", "-").ToLower()">
                   @category.Name
                </a>
            </li>
        }
    </ul>
</div>
