@model IEnumerable<Product>
@{
    ViewData["Title"] = "Product Page";
}
<h1>Products</h1>
@foreach(var obj in Model)
{
    <div classNamec"product-card">
        <img src=""props.product picture" className="card-image"></img>
        <h2 className="card-title"></h2>
        <p className="card-description">@obj.Description</p>
        <a asp-action="Product"><button>Learn More</button></a>
    </div>
}
