<div class="container">
    <div data-reflow-type="order-status">
        <div class="reflow-order-status">
            <div class="col">
                <div class="ref-order-info">
                    <h2>Order #2050714543</h2>
                    <div class="ref-order-line ref-status"><b>Status</b>returned</div>
                    <div class="ref-order-line ref-created"><b>Created</b>5/8/2024, 12:56:25 PM</div>
                </div>
            </div>
            <div class="col">
                <div class="ref-order-customer">
                    <h2>Customer Details</h2>
                    <div class="ref-order-line ref-customer-name"><b>Name</b>Amiya Nolan</div>
                    <div class="ref-order-line ref-customer-email"><b>Email</b>robbie.hansen@ryan.com</div>
                    <div class="ref-order-line ref-customer-phone"><b>Phone</b>123123123123</div>
                </div>
            </div>
            <div class="col">
                <div class="ref-order-shipping">
                    <h2>Shipping</h2>
                    <div class="ref-order-line ref-shipping-method"><b>Shipping Method</b><span>Standard Delivery ($10.00)</span></div>
                    <div class="ref-order-line ref-shipping-address"><b>Shipping Address</b><span>Address: Baker Street 4</span><span>City: London</span><span>Postal Code: 987654</span><span>Country: United Kingdom</span></div>
                    <div class="ref-order-line ref-note"><b>Note</b>Note text.</div>
                </div>
            </div>
            <div class="col">
                <div class="ref-order-billing">
                    <h2>Billing</h2>
                    <div class="ref-order-line ref-billing-address"><b>Billing Name</b><span>Adam Schimmel</span></div>
                    <div class="ref-order-line ref-billing-address"><b>Billing Address</b><span>Address: Baker Street 4</span><span>City: London</span><span>Postal Code: 987654</span><span>Country: United Kingdom</span></div>
                </div>
            </div>
            <div class="col">
                <div class="ref-line-items">
                    <h2>Order Summary</h2>
                    <div class="ref-order-line ref-line-item ref-product-line">
                        <div class="ref-name">4 × Kaitlyn Conn</div>
                        <div class="ref-price"><b>$555.55</b><small>(4 × $8.89)</small></div>
                    </div>
                    <div class="ref-tiny-separator">∙∙∙∙∙</div>
                    <div class="ref-order-line ref-line-item ref-product-line">
                        <div class="ref-name">Prof. Patricia Halvorson DDS</div>
                        <div class="ref-price"><b>$621.02</b><small>($488.48)</small></div>
                    </div>
                    <hr />
                    <div class="ref-order-line ref-line-item">Subtotal <span class="ref-price">$478.32</span></div>
                    <div class="ref-order-line ref-line-item">Shipping <span class="ref-price">$10.00</span></div>
                    <div class="ref-order-line ref-line-item">
                        <div class="ref-name">The Vat (21%)</div><span class="ref-price">$50.82</span>
                    </div>
                    <hr />
                    <div class="ref-order-line ref-line-item">Total <b><span class="ref-price">$539.14</span></b></div>
                </div>
            </div>
        </div>
    </div>
</div>