@model IEnumerable<Product>
@{
    ViewData["Title"] = "Product Page";
}
<h1>Products</h1>
<div class="category-container">
    @foreach(var obj in Model)
    {
        <div class"product-card">
            <img src="" class="product-card-image"></img>
            <h2 class="product-card-title"></h2>
            <p class="product-card-description">@obj.Description</p>
            <a asp-action="Product"><button class="product-button">Learn More</button></a>
        </div>
    }
<div>
