@model Category
@{
    ViewData["Title"] = "Create Page";
}

<div form-container>
    <form>
        <div>
            <label asp-for="Name" class="form-field"></label>
            <input asp-for="Name" class="form-field">
        </div>
        <div>
            <input type="submit" value="submit">
        </div>
    </form>
</div>
<a asp-controller="Category" asp-action="Index">Go Back</a>
