@model Category
@{
    ViewData["Title"] = "Edit Page";
}

<div form-container>
    <div asp-validation-summary="All"></div>
    <form method="POST" asp-action="DeletePost">
        <div>
            <label asp-for="Name" class="form-field"></label>
            <input asp-for="Name" disabled class="form-field">
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <input type="submit" value="submit">
        </div>
    </form>
</div>
<a asp-controller="Category" asp-action="Index">Go Back</a>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
