@model Category
@{
    ViewData["Title"] = "Delete Page";
}

<div form-container>
    <div asp-validation-summary="All"></div>
    <form method="POST">
        <div>
            <input type="submit" value="submit">
        </div>
    </form>
</div>
<a asp-controller="Category" asp-action="Index">Go Back</a>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
