@model IEnumerable<Category>
@{
    ViewData["Title"] = "Category Page";
}
<a asp-controller="Category" asp-action="Create">Add New Product</a>
<div class="products-container">
    @foreach(var obj in Model)
    {
        <div class="product-card">
            <p>@obj.Name</p>
        <div
    }
</div>
