@model IEnumerable<Category>
@{
    ViewData["Title"] = "Category Page";
}
<h1>Category</h1>
<div class="category-container">
    @foreach(var obj in Model)
    {
        <div class"category-card">
            <img src="" class="category-card-image"></img>
            <h2 class="category-card-title"></h2>
            <p class="category-card-description">@obj.Description</p>
            <a asp-action="Product"><button class="category-button">Learn More</button></a>
        </div>
    }
<div>
